<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>

<body style="padding: 0px; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.4285714285714286; font-size: 15px; margin: 0px; position: relative; background-color:  #F4F5F6;">
<div style="position: relative; background-color: #F4F5F6;">
    <div style="max-width: 560px; min-width: 520px; margin: 0 auto; position: relative; width: 100%; background-color: #fff">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        <!-- FOOTER   -->
        <div style="color: #fff; position: relative; background: #423E48">
            <div style="padding: 30px 20px 30px 20px;">
                <div style="display: table; width: 100%;">
                    <div style="display: table-cell; text-align: left; ">
                        <a href="" target="_blank">
                            <img src="{{static_url}}/logo.png" alt="" style="vertical-align: middle;"></a>
                    </div>
                    <div style="display: table-cell; text-align: center;">
                        <a href="tel:375296889454" target="_blank">
                            <img src="{{static_url}}/phone.png" alt="" style="vertical-align: middle;"></a>
                    </div>
                    <div style="display: table-cell; text-align: center; width: 50px;">
                        <a href="https://www.linkedin.com/company/10900633/admin/" target="_blank">
                            <img src="{{static_url}}/insta.png" alt=""
                                 style="height: 25px; vertical-align: middle; width: 25px;"></a>
                    </div>
                    <div style="display: table-cell; text-align: center; width: 50px;">
                        <a href="https://www.youtube.com/channel/UCF3YMJlN1cLl_fzjoSyn7_Q" target="_blank">
                            <img src="{{static_url}}/vk.png" alt=""
                                 style="height: 25px; vertical-align: middle; width: 25px;"></a>
                    </div>
                    <div style="display: table-cell; text-align: center; width: 50px;">
                        <a href="https://www.youtube.com/channel/UCF3YMJlN1cLl_fzjoSyn7_Q" target="_blank">
                            <img src="{{static_url}}/facebook.png" alt=""
                                 style="height: 25px; vertical-align: middle; width: 25px;"></a>
                    </div>
                </div>
            </div>
            <div style="padding: 0 20px 20px 20px;">
                <p style="font-size: 12px; margin: 0; text-align: left; width:70%; opacity: 0.6;">
                    © cabeltorg.by - кабельная продукция. Все права защищены. Копирование информации с сайта запрещено.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>