{% extends "email/base.html" %}
{% block header %}
<img src="{{static_url}}/header_image_1.png" alt="" style="display: block; width: 100%;">
{% endblock %}

{% block body %}
<div style="padding: 15px 0; position: relative;">
    <p style="font-size:30px; text-align: left; font-weight:bold;padding: 0  20px;">
        Заказ принят!
    </p>
    <p style="font-size:18px; text-align: left;padding: 0  20px ">
        Добрый день, <b>{{ name }}</b>!</p>
    <p style="font-size:18px; text-align: left;padding: 0  20px ">
        Заказанные товары уже готовятся к отправке, с вами свяжется специалист для уточнения. </p>
    <p style="font-size:18px; text-align: left;padding: 0  20px ">
        Отслеживать статус заказа в реальном времени можно в Личном кабинете. </p>
    <p style="font-size:18px; text-align: left;padding: 0  20px ">
        Команда <span style="color:#4275D8; font-weight: bold">CabelTorg</span>
    </p>¬
    <div style="background-color: #fff; position: relative; padding: 10px 0 40px 20px">
        <div style="border-radius: 5px; width: 220px; padding-top: 15px; height: 37px; background: #4275D8; border: 1px solid #F4F5F6; opacity: 1; text-align: center;margin:0 auto">
            <a href="cabeltorg.by"
               style="color: #fff; font-size: 18px; text-decoration: none; vertical-align: top;">
                Подробнее о заказе
            </a>
        </div>
    </div>
</div>
<div style="padding: 15px 20px 40px 20px; position: relative;">
    <div style="padding: 0 25px ; width: auto; font-size: 18px; line-height: 24px; color: #000000; text-align: left; background: #F8FAFF;">
        <div style="padding:15px 25px 0 40px; margin-bottom: 10px;">
            <div style="height: 50px; padding-left: 0;margin-bottom: 20px; display: table; width: 100%;">
                <div style="display: table-cell; text-align: left; width: 45px">
                    <img src="{{ static_url }}/order_number.png" alt=""
                         style="vertical-align: middle; padding-top: 5px">
                </div>
                <div style="display: table-cell; text-align: left; ">
                    <span style="color: #000; font-size: 18px; line-height: 25px; font-weight: 700;  display: inline-block">Номер заказа</span>
                    <br>
                    <span style="color:#4275D8; font-size: 18px; line-height: 25px;  display: inline-block;">{{ order_number }}</span>
                </div>
            </div>
        </div>
        <div style="padding:  0 25px 0 40px; margin-bottom: 10px;">
            <div style="height: 50px; padding-left: 0;margin-bottom: 20px; display: table; width: 100%;">
                <div style="display: table-cell; text-align: left; width: 45px">
                    <img src="{{ static_url }}/delivery_time.png" alt=""
                         style="vertical-align: middle; padding-top: 5px">
                </div>
                <div style="display: table-cell; text-align: left; ">
                    <span style="color: #000; font-size: 18px; line-height: 25px; font-weight: 700;  display: inline-block">Дата доставки</span>
                    <br>
                    <span style="color:#4275D8; font-size: 18px; line-height: 25px;  display: inline-block;">{{ delivery_date }}</span>
                </div>
            </div>
        </div>
        <div style="padding:  0 25px 0 40px; margin-bottom: 10px;">
            <div style="height: 50px; padding-left: 0;margin-bottom: 20px; display: table; width: 100%;">
                <div style="display: table-cell; text-align: left; width: 45px">
                    <img src="{{ static_url }}/warehouse.png" alt="" style="vertical-align: middle; padding-top: 5px">
                </div>
                <div style="display: table-cell; text-align: left; ">
                    <span style="color: #000; font-size: 18px; line-height: 25px; font-weight: 700;  display: inline-block">Адрес пункта выдачи</span>
                    <br>
                    <span style="color:#4275D8; font-size: 18px; line-height: 25px;  display: inline-block;">{{ pick_up_point }}</span>
                </div>
            </div>
        </div>
        <div style="padding:  0 25px 0 40px; margin-bottom: 10px;">
            <div style="height: 50px; padding-left: 0;margin-bottom: 20px; display: table; width: 100%;">
                <div style="display: table-cell; text-align: left; width: 45px">
                    <img src="{{ static_url }}/client.png" alt="" style="vertical-align: middle; padding-top: 5px">
                </div>
                <div style="display: table-cell; text-align: left; ">
                    <span style="color: #000; font-size: 18px; line-height: 25px; font-weight: 700;  display: inline-block">Получатель</span>
                    <br>
                    <span style="color:#4275D8; font-size: 18px; line-height: 25px; display: inline-block;">{{ name }}</span>
                    <br>
                    <span style="color:#4275D8; font-size: 18px; line-height: 25px; display: inline-block;">{{ phone_number }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}