{% extends "email/base.html" %}
{% block header %}
<img src="{{static_url}}/header_image_2.png" alt="" style="display: block; width: 100%;">
{% endblock %}

{% block body %}
<div style="padding: 15px 0; position: relative;">
    <p style="font-size:30px; text-align: left; font-weight:bold;padding: 0  20px;">
        Добро пожаловать на CabelTorg!</p>
    <p style="font-size:18px; text-align: left;padding: 0  20px ">
        Добрый день, <b>Ирина</b>!</p>
    <p style="font-size:18px; text-align: left;padding: 0  20px ">
        Регистрация прошла успешно. Желаем Вам приятных покупок.</p>
    <div style="font-size:18px; margin: 40px 0">
        <div>
            <span style="font-size:18px; text-align: left;padding: 0  20px; font-weight: bold">Логин:</span>
            <span>{{ email }}</span>
        </div>
        <div>
            <span style="font-size:18px; text-align: left;padding: 0  20px; font-weight: bold">Пароль:</span>
            <span>{{ generated_password }}</span>
        </div>
    </div>
    <p style="font-size:12px; text-align: left;padding: 0  20px;opacity: 0.5 ">
        Обращаем ваше внимание, во избежание несанкционированного доступа к вашему аккаунту, настоятельно рекомендуем
        изменить пароль</p>
    <div style="background-color: #fff; position: relative; padding: 10px 0 40px 20px">
        <div style="border-radius: 6px; width: 220px; padding-top: 15px; height: 37px; background: #4275D8; border: 1px solid #F4F5F6; opacity: 1; text-align: center;margin:0 auto">
            <a href="cabeltorg.by" style="color: #fff; font-size: 18px; text-decoration: none; vertical-align: top;">
                Перейти на сайт
            </a>
        </div>
    </div>
</div>
{% endblock %}