[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
asyncpg = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"
sqlalchemy = "*"
alembic = "*"
uvicorn = "*"
pyjwt = "*"
bcrypt = "*"
python-multipart = "*"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.10"
