<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<div class="invoice__container _container">
    <div class="invoice__header">
        <img class="invoice__logo" src="http://194.62.19.21/img/logo.fbe4852c.svg" alt="">
        <div class="invoice__number">
            <span>Счет на оплату №</span>
            <span>{{invoice_number}}</span>
            <span>от</span>
            <span>{{created_at}}</span>
        </div>
        <hr class="hr">
        <div class="invoice__supplier">
            <div>Поставщик</div>
            <div>ООО "КабельЭлектроТорг", УНП 291132270, Брестская область а-г Большие Мотыкалы, ул. Центральная д.26А,
                тел.: +375162545407, р/с
                BY75MMBN30125085100109330000 в банке ОАО "Банк Дабрабыт" БИК MMBNBY22 к/с 51
            </div>
        </div>
        <div class="invoice__customer">
            <div>Покупатель</div>
            <div>{{customer_requisites}}</div>
        </div>
        <hr class="hr">
    </div>
    <div class="invoice__body">
        <!--  Table with all goods     -->
        <div class="invoice__table">
            <table>
                <tr>
                    <td>№</td>
                    <td>Товары (работы, услуги)</td>
                    <td>Количество</td>
                    <td>Ед. изм.</td>

                    <td>Цена</td>
                    <td>Стоимость</td>
                    <td>Ставка НДС</td>
                    <td>Сумма НДС</td>
                    <td>Всего с НДС</td>
                    <td>Вес</td>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.amount}}</td>
                        <td>{{product.base_unit}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.cost}}</td>
                        <td>{{product.tax}}</td>
                        <td>{{product.tax_sum}}</td>
                        <td>{{product.price_with_tax}}</td>
                        <td>{{product.weight}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="invoice__price">
            <div class="invoice__price__item">
                Сумма НДС: <span> {{products_tax_sum}}</span>
            </div>
            <div class="invoice__price__item"></div>
            Всего к оплате сумма с НДС: <span>{{products_price_with_tax}}</span>
        </div>
        <hr class="hr">
    </div>
    <div class="invoice__footer">
        <div class="footer__dop-info">
            <p>Счет-фактура действует с даты ее подписания сторонами в течение всего срока договора поставки и является
                его неотъемлемой частью.</p>
            <p>Расчет за товар производится платежным поручением в порядке предварительной оплаты в течение 1 (Один)
                банковских дней с даты выставления счет-фактуры.</p>
            <p>Срок поставки в течение 14 (Четырнадцать) рабочих дней с даты получения предоплаты.</p>
            <p>Условия поставки: транспортом и за счет средств Поставщика.</p>
            <p>
                Данный счет является неотъемлемой частью договора Договор №
                <span>{{invoice_number}} от {{created_at}}</span>
            </p>
            <p>В соответствии с требований постановления Министерства архитектуры и строительства Республики Беларусь от
                30.07.2021 № 73 «О порядке регулирования цен на
                строительные материалы, изделия, конструкции» стороны пришли к соглашению, что поставляемый товар не
                должен использоваться при строительстве объектов (за
                исключением строительства автомобильных дорог, мостов и тоннелей), финансируемых полностью или частично
                за счет средств республиканского и (или) местных
                бюджетов, в том числе государственных целевых бюджетных фондов, а также государственных внебюджетных
                фондов, внешних государственных займов и внешних
                займов, привлеченных под гарантии Правительства Республики Беларусь, кредитов банков Республики Беларусь
                под гарантии Правительства Республики Беларусь и
                областных, Минского городского исполнительных комитетов, а также при строительстве жилых домов (за
                исключением финансируемых с использованием средств
                иностранных инвесторов). Покупатель в случае реализации поставляемого товара обязан совершить
                аналогичную оговорку. Поставщик не несет ответственность за
                нарушение Покупателем или иным третьим лицом условий использования товара. Причиненные Поставщику убытки
                вследствие нарушения условий использования
                товара подлежат возмещению Покупателем в полном объеме.</p>
        </div>
        <hr class="hr">
        <div class="footer__sign">

            <div>Руководитель</div>
            <div class="footer__sign__clm">
          <span>
            <img class="invoice__signature" src="@/assets/signature.png" alt="">
          </span>
                <span>подпись</span>
            </div>
            <div class="footer__sign__clm">
                <span>Петрошевич Р.Л.</span>
                <span>расшифровка подписи</span>
            </div>
        </div>
        <hr class="hr__dot">
        <div class="invoice__header">
            <div class="invoice__number text-center">
                <span>Протокол №</span>
                <span>{{invoice_number}}</span>
                <span>от</span>
                <span>{{created_at}}</span>
            </div>
            <div class="text-center mb-20">согласования свободных отпускных цен на товары (продукцию)</div>
            <hr class="hr">
            <div class="invoice__supplier">
                <div>Поставщик</div>
                <div>ООО "КабельЭлектроТорг", УНП 291132270, Брестская область а-г Большие Мотыкалы, ул. Центральная
                    д.26А, тел.: +375162545407, р/с
                    BY75MMBN30125085100109330000 в банке ОАО "Банк Дабрабыт" БИК MMBNBY22 к/с 51
                </div>

            </div>
            <div class="invoice__customer">
                <div>Покупатель</div>
                <div>{{customer_requisites}}</div>
            </div>
            <hr class="hr">
        </div>
        <div class="invoice__body">
            <!--  Table with all goods     -->
            <div class="invoice__table">
                <table>
                    <tr>
                        <td>№</td>
                        <td>Наименование и краткая характеристика товара, артикул, марка, тип, сорт</td>
                        <td>Объем партии</td>
                        <td>Отпускная цена и (или) тариф по прейскуранту</td>
                        <td>Размер предоставленной скидки</td>
                        <td>Отпускная цена и (или) тариф, применяемые в расчетах</td>
                        <td>Вес</td>
                    </tr>
                    {% for product in products %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.amount}}</td>
                        <td>{{product.price_with_tax}}</td>
                        <td>{{product.discount}}</td>
                        <td>{{product.price_with_tax_and_ordr_discount}}</td>
                        <td>{{product.weight}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="invoice__footer">
            <div class="footer__sign_btn">
                <div class="sign__item">Исполнитель(поставщик)
                    <span></span>
                    <div class="footer__sign__clm">
                        <img class="invoice__signature" src="@/assets/signature.png" alt="">
                        <img class="invoice__stamp" src="@/assets/stamp.png" alt="">
                    </div>
                </div>
                <div class="sign__item">Покупатель
                    <span></span>
                </div>
            </div>
            <div class="footer__address">
                <div>Адрес склада: 225033, Брестская область а-г Большие Мотыкалы, ул. Центральная д.26А</div>
                <div>Почтовый адрес: 224005, г. Брест, ул. ГОБК, 7, оф. 128</div>
                <div>Время работы: с 9.00 до 18.00, обеденный перерыв с 13.00 до 14.00 (понедельник – пятница)</div>
                <div>тел. +375(44)5751295 – Михаил (склад)</div>
                <div>тел. +375(33)9150035 - бухгалтерия</div>
            </div>
        </div>
    </div>
</div>
