//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Rubik";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320;
$maxWidth: 1880;
$maxWidthContainer: 1136;
$md1: $maxWidthContainer + 12;
$md2: 768.98;
$md3: 479.98;
//$md4: 479.98;

$mainColor: #423E48;
$secondColor: #4275D8;
$menuColorActive: #4244E7;
$btnColor: #4275D8;
$btnColorHover: #6F70FD;
$btnColorActive: #3638C9;
$BGColor:#07095E;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

@mixin border-r($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
border-radius: $radius;
}
