<header class="header">
    <div class="header__wrapper">
        <div class="header__content _container">
            <div class="header__body">

                <a href="/" class="header__logo">
                    <img src="images/logo.svg" alt="">
                </a>
                <div class="header__main">



                </div> <!--     header__main-->


                <button id="burger" type="button" class="icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>  <!--header__body -->
        </div>

    </div>
</header>
